// Centering Mixin.
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Clearfix.
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Border Box.
@mixin round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}