// Media query breakpoints
$media-breakpoint-sm: 576px; // Small devices (landscape phones, 576px and up)
$media-breakpoint-md: 768px; // Medium devices (tablets, 768px and up)
$media-breakpoint-lg: 992px; // Large devices (desktops, 992px and up)
$media-breakpoint-xl: 1200px;// Extra large devices (large desktops, 1200px and up)

// Colors
$light-gray-1: #f1f2f5;
$light-gray-2: #5a6175;
$dark-gray-1: #454850;
$dark-gray-2: #575656;
$dark-gray-3: #565659;
$fountain-Blue: #5fc0c3;
$puerto-rico: #61c0bd;
$turquoise: #5ac0cf;


// Font Family
$museo-sans-300: 'Museo Sans 300';
$museo-sans-500: 'Museo Sans 500';
$museo-sans-700: 'Museo Sans 700';
$open-sans-regular: 'Open Sans Regular';
$open-sans-semibolditalic: 'Open Sans SemiboldItalic';
$open-sans-bold: 'Open Sans Bold';
$open-sans-italic: 'Open Sans Italic';
$open-sans-extrabold: 'Open Sans Extrabold';
$open-sans-condensedbold: 'Open Sans CondensedBold';
$open-sans-semibold: 'Open Sans Semibold';
$open-sans-condensedlight: 'Open Sans CondensedLight';
$open-sans-extrabolditalic: 'Open Sans ExtraboldItalic';
$open-sans-bolditalic: 'Open Sans BoldItalic';
$open-sans-light: 'Open Sans Light';
$open-sans-light-italic: 'Open Sans Light-Italic';
$open-sans-condensedlightitalic: 'Open Sans CondensedLightItalic';